@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
:root {
  --red: rgb(252, 71, 71);
  --dark-black: rgb(16, 20, 30);
  --light-grey: rgb(90, 105, 143);
  --dark-grey: rgb(22, 29, 47);
  --white: rgb(255, 255, 255);

  --h1: 32px;
  --h2: 24px;
  --h3: 18px;
  --body: 15px;
  --body-small: 13px;
}
body {
  font-family: "Outfit", sans-serif !important;
  background-color: var(--dark-black);
}
